<nav class="navbar sticky-top navbar-expand-lg bg-success bg-gradient">
  <div class="container-fluid">
    <span class="mx-2 text-white">
      <fa-icon [icon]="icon"></fa-icon>
      <a class="navbar-brand text-white" href="">HOME</a>
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
